# Importing data

In [10]:
import json
from pprint import pprint
import os.path

dir = os.path.dirname(os.path.abspath("__file__"))
path = dir + '/../data/artists.json'

with open(path) as f:
  JsonData = json.load(f)
pprint(JsonData[0])

{'collaborators': [{'id': '23TFHmajVfBtlRx5MXqgoz', 'name': 'Sfera Ebbasta'},
                   {'id': '2ALJBMyhbGODOEpstHfEqN', 'name': 'Rizzo'},
                   {'id': '754BUADwzMYecBgOoBaetK', 'name': 'Neima Ezza'},
                   {'id': '7F2utINZ6tSokSiZTQBE27', 'name': 'Guè'},
                   {'id': '3hBQ4zniNdQf1cqqo6hzuW', 'name': 'Salmo'},
                   {'id': '3fhMfkPPzksWuw0hEm4ldm', 'name': 'Ernia'},
                   {'id': '5dXlc7MnpaTeUIsHLVe3n4', 'name': 'Coez'},
                   {'id': '0jdNdfi4vAuVi7a6cPDFBM', 'name': 'Lazza'},
                   {'id': '7u710e44HW3K7A5eTnRqHC', 'name': 'Fabri Fibra'},
                   {'id': '3ufoz151GN8lddatwZ998s', 'name': 'G. Soave'},
                   {'id': '3Y0ccXFrUeRPlnEzXmDeWa', 'name': 'Duellz'},
                   {'id': '2av4MrhPDUQLG3py1i0h7L', 'name': 'Tormento'},
                   {'id': '5AZuEF0feCXMkUCwQiQlW7', 'name': 'Marracash'},
                   {'id': '672TMrvmIHZhMbe3AldMaf', 'name': 'Fabio De Martino'},
                   {'id': '1SDzdhISMGaEQzOCaJQ45C', 'name': 'J Lord'},
                   {'id': '2aya6KuqjXEhHBqYKsTPLs', 'name': 'Rose Villain'},
                   {'id': '1vgQksyJ0IVz8y9XerEOy3', 'name': 'Madame'},
                   {'id': '4upwdFMlZBmQ68jP9jPzjK', 'name': 'Gemitaiz'},
                   {'id': '6JFRI91YaCXREGQYzHSnUH', 'name': 'Jake La Furia'},
                   {'id': '5oGHd7AZ8Sr05S5MP5SnYC', 'name': 'Montenero'},
                   {'id': '1fTtdB7ppQhdFosmH7nxGR', 'name': 'RollzRois'},
                   {'id': '2uGRVapHbRzZMOUaHwu9PD', 'name': 'Mera'},
                   {'id': '1PG5WX3LZJHM4p6HO4qMq8', 'name': 'Not Good'},
                   {'id': '1El4YQA8oCXX7ynFSxRTFq', 'name': 'Massimo Pericolo'},
                   {'id': '27LlKWxS3KXW7RRAxN5S8s', 'name': 'Geolier'},
                   {'id': '056KMTw6IztdQjBmFfVyO3', 'name': 'Rkomi'},
                   {'id': '0W0oW3iaBwbtcXqdDrfC6F', 'name': 'Speranza'},
                   {'id': '7dOSKIkrgMD0JH6RdGbvk4', 'name': 'Foreigner.Flp'},
                   {'id': '5FCEwEMCP5iSEZJelZ0hbH', 'name': 'Inamos'},
                   {'id': '1AgAVqo74e2q4FVvg0xpT7', 'name': 'Tedua'},
                   {'id': '7tmTvmqgTBcX88ZrSHByrD', 'name': 'Nayt'},
                   {'id': '5SulO4l40qDuV9zUGLZx7n', 'name': 'Capo Plaza'},
                   {'id': '29nrwultxQ8jENVmXoyMqK', 'name': 'Carl Brave'},
                   {'id': '4b3MWJACM6T1QwGKoFe7pp', 'name': 'Vegas Jones'},
                   {'id': '7gZfnEnfiaHzxARJ2LeXrf', 'name': '6ix9ine'},
                   {'id': '44nw8R2G8QHYVCavk7d7eL', 'name': 'PashaPG'},
                   {'id': '54dqxLAclwu0QSaTwCyCaF', 'name': 'Neffa'},
                   {'id': '26Db0VeiqD1i5GRFjUww3I', 'name': 'Maruego'},
                   {'id': '2mgrlTPqfbArOHC94hbXn8', 'name': 'Giso'},
                   {'id': '1BvLhDkql2F6d4G5aaajY2', 'name': 'Jamil'},
                   {'id': '0ciL46ZLYXNEl18efJi5Lo', 'name': 'DJ Telaviv'},
                   {'id': '1HtBIKVEOTNrX1iE1op7Rs', 'name': 'Davide Ice'},
                   {'id': '4J0rxYDON5UzQSrZpS5adI', 'name': 'Big Joe'},
                   {'id': '7JL4DyVnKVldvwWoSnLtCM', 'name': 'Zef'},
                   {'id': '4sQiXz6GYok2zyqMSHG0MX', 'name': 'Bassi Maestro'},
                   {'id': '5WRU4nVoT4qTTu2e7wOVEf', 'name': 'Clark P.'},
                   {'id': '3WrMBQYO99lzSOhYGPiVoQ', 'name': 'Don Joe'},
                   {'id': '0hk4xVujcyOr6USD95wcWb', 'name': 'Sick Luke'},
                   {'id': '4lXqyfnO42fw7mPGF5ZXjR', 'name': 'Vacca'},
                   {'id': '6Fd10Q3sQq1NsvpFTlvMsN', 'name': 'Mondo Marcio'},
                   {'id': '3MkkSf3u5KU52Mb2iMrqeX', 'name': 'MadMan'},
                   {'id': '3i6qJrzSztVVKa7C4rhowo', 'name': 'PK'},
                   {'id': '0ba6wsfB7G2rhdHMebCdO3', 'name': 'Clementino'},
                   {'id': '5vu16RmNafK9rLEMvqRacF', 'name': '2nd Roof Music'},
                   {'id': '3yiEJ9SByXZMXTwaKdVFN4', 'name': 'Luchè'},
                   {'id': '7jex7agQ4kU48EZGgD0mez', 'name': 'Small White'},
                   {'id': '0LhpncWOh05kPQvBxScHLI', 'name': 'Fritz Da Cat'},
                   {'id': '2iK8weavvfS2xJCmzNzNE5', 'name': 'J-AX'},
                   {'id': '0HIhHN1AjF18APmk5yIEZY', 'name': 'Skin'},
                   {'id': '6FcVd3KlRxozcLl19FMXu9', 'name': 'Max Pezzali'},
                   {'id': '3zglSEvq64QvHFh0VgpQzm', 'name': 'Duellez'},
                   {'id': '5dPBeuSKtu5vLz1Et8YSVv', 'name': 'Mostro'},
                   {'id': '0ABk515kENDyATUdpCKVfW', 'name': 'Westside Gunn'},
                   {'id': '05OYdU3diEpNYjaAHNaZTt', 'name': 'Roshelle'},
                   {'id': '2K5nCggbhSZ00YCYP5qkZS', 'name': 'Shiva'},
                   {'id': '0lI3rF4hi4op6UxqlLHPzv', 'name': 'Achille Lauro'},
                   {'id': '57aMHpsX2SXTbLatmeEd6j', 'name': 'Boss Doms'},
                   {'id': '2QSJ4mHTLgMEDf7dChhRbN', 'name': 'Andrea Piraz'},
                   {'id': '1sKfOFTS7Ae9RLO2YbocVd', 'name': 'Saturnino'}],
 'genres': ['italian hip hop', 'italian pop'],
 'id': '6FtwCmLY6L1sqvjaQ2lV6G',
 'name': 'Emis Killa'}

# Saving collaboration csv

In [11]:
import pandas as pd

def filter_repeated_pairs(pair_list):
    seen_pairs = set()
    filtered_list = []

    for pair in pair_list:
        x, y = pair
        if (x, y) not in seen_pairs and (y, x) not in seen_pairs:
            filtered_list.append(pair)
            seen_pairs.add(pair)

    return filtered_list


CollaborationsList = []
for artist in JsonData:
  for collaborator in artist['collaborators']:
    if collaborator['name'] in [x['name'] for x in JsonData]:
      CollaborationsList.append( ( artist['name'] , collaborator['name'] ) )

print('Length of the original list:', len(CollaborationsList))

FilteredCollaborationsList = filter_repeated_pairs(CollaborationsList)

print('Length of the filtered list:', len(FilteredCollaborationsList))


df = pd.DataFrame(columns = ['artist', 'collaborator'])

for artist, collaborator in FilteredCollaborationsList:
  to_concat =  pd.DataFrame( {'artist': [artist], 'collaborator': [collaborator] } )

  df = pd.concat([df, to_concat])

df

Length of the original list: 2661
Length of the filtered list: 1930

            artist   collaborator
0       Emis Killa  Sfera Ebbasta
0       Emis Killa          Rizzo
0       Emis Killa     Neima Ezza
0       Emis Killa            Guè
0       Emis Killa          Salmo
..             ...            ...
0          chiello           Demo
0      Chris Nolan         Birthh
0      Chris Nolan         AIELLO
0           AIELLO       Tormento
0   Merk & Kremont          Ernia

[1930 rows x 2 columns]

In [12]:
df.to_csv(dir + '/../data/FilteredCollaboration.csv')

# Popularity and genres

In [ ]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

# Set up your Spotify API credentials
client_id = os.environ.get('CLIENT_ID')

client_secret = os.environ.get('CLIENT_SECRET')

# Initialize the Spotipy client
client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

# Function to get the popularity index of an artist
def get_artist_popularity(artist_id):
    artist = sp.artist(artist_id)
    popularity = artist['popularity']
    return popularity

In [ ]:
# Example usage

df = pd.DataFrame(columns = ['artist', 'popularity', 'num_genres'])


for artist in JsonData:
  artist_id =   artist['id']
  popularity_index = get_artist_popularity(artist_id)
  to_concat =  pd.DataFrame( {'artist': [artist['name']], 'popularity': [popularity_index], 'num_genres' : len(artist['genres'])  } )
  df = pd.concat([df, to_concat])

df

            artist popularity num_genres
0       Emis Killa         68          2
0            Rhove         67          2
0          Finesse         64          0
0            Lazza         77          4
0          Geolier         78          4
..             ...        ...        ...
0           Birthh         32          2
0           AIELLO         51          1
0   Merk & Kremont         59          4
0          BB Team         38          0
0        Elliphant         47          2

[348 rows x 3 columns]

In [ ]:
df.to_csv(dir + '/../data/PopularityAndGenres.csv')